<a href="https://colab.research.google.com/github/clearmoon555/text-processing/blob/main/%E5%A4%84%E7%90%86txt%E6%96%87%E4%BB%B6%E5%B9%B6%E7%BB%9F%E8%AE%A1%E6%95%B0%E6%8D%AE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import chardet
import re
import pandas as pd
def read_time_machine():
    with open(r"/content/sample_data/统计作业数据1 (1).txt", 'rb') as f:
        data = f.read()
        encoding = chardet.detect(data)['encoding']

    with open(r"/content/sample_data/统计作业数据1 (1).txt", 'r', encoding=encoding) as f:
        lines = f.readlines()
    return [re.sub('[^A-Za-z]+', ' ', line).strip().lower() for line in lines]

lines = read_time_machine()

def tokenize(lines, token='word'):
    """将文本行拆分为单词或字符词元"""
    if token == 'word':
        return [line.split() for line in lines]
    elif token == 'char':
        return [list(line) for line in lines]
    else:
        print('错误：未知词元类型：' + token)

tokens = tokenize(lines)

# 使用列表推导式将嵌套的 tokens 列表展开成一个单一的列表
flattened_tokens = [token for line_tokens in tokens for token in line_tokens]

def tongji(step,my_list):
  data = {}
  num = 0
  for item in my_list:
    if len(item)<step:
      continue
    for i in range(0,len(item)-step):
      num+=1
      key = item[i:i+step]
      if key in data:
        data[key] += 1
      else:
        data[key] = 1
    data["num"] = num
  return data

In [ ]:
Series_1 = pd.Series(tongji(1,flattened_tokens)).sort_values()
print(Series_1)

z         417
q        1077
x        1196
j        1349
k        4764
y        7173
v        9010
g       11558
b       13081
f       13108
p       13703
d       14691
w       19201
m       21442
c       21655
u       23763
l       32263
s       37626
r       41707
n       48849
h       49261
t       56603
i       58628
o       61505
a       68459
e       76244
num    708333
dtype: int64

In [ ]:
Series_2 = pd.Series(Series_1.values/Series_1["num"],Series_1.index)
print(Series_2)

z      0.000589
q      0.001520
x      0.001688
j      0.001904
k      0.006726
y      0.010127
v      0.012720
g      0.016317
b      0.018467
f      0.018505
p      0.019345
d      0.020740
w      0.027107
m      0.030271
c      0.030572
u      0.033548
l      0.045548
s      0.053119
r      0.058880
n      0.068963
h      0.069545
t      0.079910
i      0.082769
o      0.086831
a      0.096648
e      0.107639
num    1.000000
dtype: float64

In [ ]:
data = pd.DataFrame({"pinshu":Series_1,"pinlv":Series_2})
print(data)

     pinshu     pinlv
z       417  0.000589
q      1077  0.001520
x      1196  0.001688
j      1349  0.001904
k      4764  0.006726
y      7173  0.010127
v      9010  0.012720
g     11558  0.016317
b     13081  0.018467
f     13108  0.018505
p     13703  0.019345
d     14691  0.020740
w     19201  0.027107
m     21442  0.030271
c     21655  0.030572
u     23763  0.033548
l     32263  0.045548
s     37626  0.053119
r     41707  0.058880
n     48849  0.068963
h     49261  0.069545
t     56603  0.079910
i     58628  0.082769
o     61505  0.086831
a     68459  0.096648
e     76244  0.107639
num  708333  1.000000

In [ ]:
Series_1 = pd.Series(tongji(2,flattened_tokens)).sort_values()
#print(Series_1)
Series_2 = pd.Series(Series_1.values/Series_1["num"],Series_1.index)
#print(Series_2)
data = pd.DataFrame({"pinshu":Series_1,"pinlv":Series_2})
print(data)

     pinshu     pinlv
zj        1  0.000002
xg        1  0.000002
zb        1  0.000002
iw        1  0.000002
yd        1  0.000002
..      ...       ...
he    10461  0.020930
in    11777  0.023563
an    13847  0.027705
th    20260  0.040535
num  499809  1.000000

[484 rows x 2 columns]